{% extends "base.html" %}
{% block 'contenu' %}
    <form method="post">
        {% csrf_token %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
        <label>
            <p class="label-txt">Username:</p>
            <input type="text" class="input"
            name="username">
            <div class="line-box">
            <div class="line"></div>
            </div>
        </label>
        
        <label>
            <p class="label-txt">password :</p>
            <input type="text" class="input"
            name="password">
            <div class="line-box">
            <div class="line"></div>
            </div>
        </label>
        <p>you don't have an account <a href="{% url 'signup' %}">sign up</a></p>
        <button type="submit">submit</button>
    </form>
{% endblock 'contenu' %}