{% extends "base.html" %}
{% block 'contenu' %}
<!--------- Include the above in your HEAD tag ---------->
<body>
    <form method="post">
        {% csrf_token %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
      <label>
        <p class="label-txt">Username :</p>
        <input type="text" class="input"
        name="username">
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>
      <label>
        <p class="label-txt">Password:</p>
        <input type="text" class="input"
        name="password">
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>
      <label>
        <p class="label-txt">Confirm password:</p>
        <input type="text" class="input"
        name="password1">
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>
      <p>Do you have an accounts <a href="{% url 'signin' %}">sign in</a></p>
      <button type="submit">submit</button>
    </form>

{% endblock 'contenu' %}

